.apartment_list {
  @include tablets {
    background-color: $color-grey;
    border-radius: 25px;
    margin: 40px 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  @include desktops {
    padding: 20px;
  }
}
