// color
$color-primary: #ff6060;
$color-grey: #F7F7F7;
$color-white: #FFFFFF;
$color-black: #000000;


// typo
$font-family: 'Montserrat', sans-serif;


// breakpoints
$breakpoints:(
    tablets: 768px,
    desktops: 1280px
);